.container {
  width: 700px; /* set the width of your container */
  margin: 40px auto; /* set margins: top/bottom: 40px; left/right: automatic */
}

.card-white {
	border-radius:5px;
	padding:20px;
	margin-bottom:20px;
	background-color: white;
	box-shadow: 10px 5px 5px rgba(0,0,0,0.1)
}

.img-circle {
	border-radius:50%;
	width:30%;
	display: inline;
}

h1 {
	color: #333333;
}
ul {
	width: 60px;
	margin: auto;
}
	
body {
	background-color: #DFDDDF;  /* Background color */
	text-align: center;
	color: #666666;
	font-size: 20px;
	font-family: Avenir;
}
